@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 200px;
    height: 960px;
    background-color: rgba(0, 0, 0, 0.5); /* Колір затемнення */
  }
  .content {
    
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.438);
    opacity: 0.8;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    width: 150px;
    transition: .5s;
    border-radius: 5px;
  }
  

  .content:hover{
    background-color: rgba(255, 255, 255, 0.767);
    transition: .5s;  
}

  .link_box{
    padding: 10px;
    margin-top: 10px;
  }

  .icon{
    width: 20px;
  }

.logo{
    width: 200px;
}

.chats{
  margin-top: 20px;
  width: 95%;
  height: 40%;
  background-color: #c9c9c9;
  border-radius: 10px;
}

.logout_img{
  margin-top: 40px;
  width: 60px;
}
.logout_img:hover{
  cursor: pointer;
}

  
  
  
  
  
  
  